:root {
  /* Core */
  --jk-black: #000000;

  /* Pink */
  --jk-pink-100: #fabbaf;
  --jk-pink-200: #eb758f;
  --jk-pink-300: #d94c8e;
  --jk-pink-400: #b32d7d;

  /* Coral / Red */
  --jk-coral-100: #fa9891;
  --jk-coral-200: #ff7070;
  --jk-red-100: #f53141;
  --jk-red-200: #c40c2e;
  --jk-red-300: #852264;

  /* Orange */
  --jk-orange-100: #faa032;
  --jk-orange-200: #f58122;
  --jk-orange-300: #f2621f;
  --jk-orange-400: #db4b16;
  --jk-orange-500: #9e4c4c;

  /* Yellow */
  --jk-yellow-100: #fad937;
  --jk-yellow-200: #ffb938;
  --jk-yellow-300: #e69b22;
  --jk-yellow-400: #cc8029;
  --jk-yellow-500: #ad6a45;

  /* Olive */
  --jk-olive-100: #ccc73d;
  --jk-olive-200: #b3b02d;
  --jk-olive-300: #989c27;
  --jk-olive-400: #8c8024;
  --jk-olive-500: #7a5e37;

  /* Green */
  --jk-green-100: #94bf30;
  --jk-green-200: #55b33b;
  --jk-green-300: #179c43;
  --jk-green-400: #068051;
  --jk-green-500: #116061;

  /* Mint */
  --jk-mint-100: #a0eba8;
  --jk-mint-200: #7ccf9a;
  --jk-mint-300: #5cb888;
  --jk-mint-400: #3da17e;
  --jk-mint-500: #20806c;

  /* Cyan / Blue */
  --jk-cyan-100: #49c2f2;
  --jk-cyan-200: #25acf5;
  --jk-blue-100: #1793e6;
  --jk-blue-200: #1c75bd;
  --jk-blue-300: #195ba6;

  /* Indigo */
  --jk-indigo-100: #ae88e3;
  --jk-indigo-200: #7e7ef2;
  --jk-indigo-300: #586ac4;
  --jk-indigo-400: #3553a6;
  --jk-indigo-500: #243966;

  /* Purple */
  --jk-purple-100: #e29bfa;
  --jk-purple-200: #ca7ef2;
  --jk-purple-300: #a35dd9;
  --jk-purple-400: #773bbf;
  --jk-purple-500: #4e278c;

  /* Browns */
  --jk-brown-100: #b58c7f;
  --jk-brown-200: #9e7767;
  --jk-brown-300: #875d58;
  --jk-brown-400: #6e4250;
  --jk-brown-500: #472e3e;

  /* Grays */
  --jk-gray-100: #a69a9c;
  --jk-gray-200: #807980;
  --jk-gray-300: #696570;
  --jk-gray-400: #495169;

  /* Navy */
  --jk-navy-100: #0d2140;
  --jk-navy-200: #050e1a;

  /* Light Neutrals */
  --jk-beige-100: #d9a798;
  --jk-beige-200: #c4bbb3;
  --jk-cream: #f2f2da;

  --color-background: var(--jk-navy-100);
  --color-surface: transparent;
  --color-surface-hover: var(--jk-brown-300);

  --color-text: var(--jk-cream);
  --color-text-muted: var(--jk-beige-200);

  --color-primary: var(--jk-cream);
  --color-primary-hover: var(--jk-beige-200);

  --color-accent: var(--jk-brown-100);

  --color-success: var(--jk-green-300);
  --color-danger: var(--jk-red-100);

  --text-xs: 0.75rem;   /* 12px */
  --text-sm: 0.875rem;  /* 14px */
  --text-md: 1rem;      /* 16px */
  --text-lg: 1.125rem;  /* 18px */
  --text-xl: 1.25rem;   /* 20px */

  --text-2xl: 1.5rem;   /* 24px */
  --text-3xl: 1.875rem; /* 30px */
  --text-4xl: 2.25rem;  /* 36px */
  --text-5xl: 3rem;     /* 48px */
}

.content-box-square {
  grid-column: span 1;
  grid-row: span 1;
  background-color: var(--color-surface);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
}


.content-box-tall-rect {
  grid-column: 2;
  grid-row: 1 / span 2;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

.center-everything {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  margin-bottom: 2rem;
}

.content-box-wide-rect {
  grid-row: span 1;
  grid-column: span 2;
}

/* Remove any heading padding for the content boxes */
.content-box-square h2,
.content-box-tall-rect h2 {
  margin-top: 0;
}

.section-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 1rem;
  padding-bottom: 1rem;
}

.image-container {
  display: flex;
  justify-content: center;
}

.NavBar {
  position: -webkit-sticky; /* Support for Safari */
  position: sticky;
  top: 0;
}

.NavBar ul{
  background-color: var(--jk-cream);
  display: flex;
  align-content: flex-start;
  list-style-type: none; /*Removes Bullet Points*/
  overflow: hidden;
  padding: 0;
  margin: 0rem;
  border-bottom: 0.25rem solid var(--jk-beige-200);
}

.NavBar li{
  float: left;
  background-color: transparent;
}

.NavBar a{
  color:  var(--jk-gray-300);
  text-decoration: none;
  padding: var(--text-xs);
  display: block;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.NavBar a:hover{
  color: var(--jk-gray-400);
  background-color: var(--jk-beige-200);
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  margin: 0;
}

main {
  margin: 2rem 5rem 4rem;
}

h1 {
  color: var(--color-text);
  font-size: var(--text-5xl);
  line-height: 1.1;
  font-weight: 700;
}

h2 {
  color: var(--color-text);
  font-size: var(--text-4xl);
  line-height: 1.2;
  font-weight: 600;
}

h3 {
  color: var(--color-text);
  font-size: var(--text-3xl);
  line-height: 1.3;
  font-weight: 600;
}

p {
  color: var(--color-text);
  font-size: var(--text-xl);
  line-height: 1.6;
  max-width: 90ch;
}

a {
  color: var(--color-primary);
}

a:hover {
  color: var(--color-primary-hover);
}

li{
  color: var(--color-text);
  font-size: var(--text-xl);
  line-height: 1.6;
  max-width: 90ch;
}

margin-box {
  margin: "40 40 40 auto"
}

.list-group-item {
  background-color: var(--color-surface);
  color: var(--color-text);
  border-color: var(--jk-cream);
}

/* Blog Post Formatting */

.blog-post {
  border: 0.5rem solid var(--jk-cream);
  padding: 1.5rem;
  border-radius: 0.75rem;
  margin-bottom: 0.75rem;
}

.blog-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 1rem;
  padding-bottom: 1rem;
}

/* Here for Grid Compliance */

.blog-card-box {
  grid-column: span 1;
  grid-row: span 1;
  background-color: var(--color-surface);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
}

/* Actual Content Styling */

.blog-card {
  border: 0.5rem solid var(--jk-cream);
  padding: 1.5rem;
  border-radius: 0.75rem;
  margin-bottom: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
}

.blog-card p {
  color: var(--jk-navy-100)
}

.blog-card h2 {
  margin-top: 0;
}

.blog-card h1 {
  margin-top: 0;
}

.blog-card img {
  width: 450px;
  height: 450px;
  object-fit: cover; /* Crops the image to fit the 300x300 box without stretching */
  border: 0.5rem solid var(--jk-navy-100);
  border-radius: 0.75rem;
}

.blog-page-container {
  padding-left: 5rem;
  padding-right: 5rem;
}

.blog-card {
  background-color: var(--jk-cream);
  display: flex;
  align-content: flex-start;
  list-style-type: none; /*Removes Bullet Points*/
  overflow: hidden;
  padding: 0;
  margin: 0rem;
}

.blog-card h2{
  color: var(--jk-navy-100);
}

.blog-card p{
  color: var(--jk-navy-100);
}

.blog-button {
    display: flex;
    padding: 0.3rem 0.6rem;
    border-radius: 0.25rem;
    background-color: var(--jk-navy-100);
    font-weight: bold;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0.25rem;
}

/* For Mobile View Scaling */
@media (max-width: 768px) {
  main {
    margin: 1rem;
  }

  /* Change to be one column only */
  .section-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  /* One column */
  .content-box-tall-rect {
    grid-column: 1;
    grid-row: auto;
  }
  /* One Column */
  .content-box-wide-rect {
    grid-column: 1;
  }

  /* Shrink Text Too */
  h1 {
    font-size: var(--text-4xl);
  }

  h2 {
    font-size: var(--text-3xl);
  }

  h3 {
    font-size: var(--text-2xl);
  }

  .blog-post {
    border: 0.25rem solid var(--jk-cream);
    padding: 1.5rem;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
  }
}