:root {
  /* Core */
  --jk-black: #000000;

  /* Pink */
  --jk-pink-100: #fabbaf;
  --jk-pink-200: #eb758f;
  --jk-pink-300: #d94c8e;
  --jk-pink-400: #b32d7d;

  /* Coral / Red */
  --jk-coral-100: #fa9891;
  --jk-coral-200: #ff7070;
  --jk-red-100: #f53141;
  --jk-red-200: #c40c2e;
  --jk-red-300: #852264;

  /* Orange */
  --jk-orange-100: #faa032;
  --jk-orange-200: #f58122;
  --jk-orange-300: #f2621f;
  --jk-orange-400: #db4b16;
  --jk-orange-500: #9e4c4c;

  /* Yellow */
  --jk-yellow-100: #fad937;
  --jk-yellow-200: #ffb938;
  --jk-yellow-300: #e69b22;
  --jk-yellow-400: #cc8029;
  --jk-yellow-500: #ad6a45;

  /* Olive */
  --jk-olive-100: #ccc73d;
  --jk-olive-200: #b3b02d;
  --jk-olive-300: #989c27;
  --jk-olive-400: #8c8024;
  --jk-olive-500: #7a5e37;

  /* Green */
  --jk-green-100: #94bf30;
  --jk-green-200: #55b33b;
  --jk-green-300: #179c43;
  --jk-green-400: #068051;
  --jk-green-500: #116061;

  /* Mint */
  --jk-mint-100: #a0eba8;
  --jk-mint-200: #7ccf9a;
  --jk-mint-300: #5cb888;
  --jk-mint-400: #3da17e;
  --jk-mint-500: #20806c;

  /* Cyan / Blue */
  --jk-cyan-100: #49c2f2;
  --jk-cyan-200: #25acf5;
  --jk-blue-100: #1793e6;
  --jk-blue-200: #1c75bd;
  --jk-blue-300: #195ba6;

  /* Indigo */
  --jk-indigo-100: #ae88e3;
  --jk-indigo-200: #7e7ef2;
  --jk-indigo-300: #586ac4;
  --jk-indigo-400: #3553a6;
  --jk-indigo-500: #243966;

  /* Purple */
  --jk-purple-100: #e29bfa;
  --jk-purple-200: #ca7ef2;
  --jk-purple-300: #a35dd9;
  --jk-purple-400: #773bbf;
  --jk-purple-500: #4e278c;

  /* Browns */
  --jk-brown-100: #b58c7f;
  --jk-brown-200: #9e7767;
  --jk-brown-300: #875d58;
  --jk-brown-400: #6e4250;
  --jk-brown-500: #472e3e;

  /* Grays */
  --jk-gray-100: #a69a9c;
  --jk-gray-200: #807980;
  --jk-gray-300: #696570;
  --jk-gray-400: #495169;

  /* Navy */
  --jk-navy-100: #0d2140;
  --jk-navy-200: #050e1a;

  /* Light Neutrals */
  --jk-beige-100: #d9a798;
  --jk-beige-200: #c4bbb3;
  --jk-cream: #f2f2da;

  --color-background: var(--jk-navy-100);
  --color-surface: var(--jk-cream-100);

  --color-text: var(--jk-cream);
  --color-text-muted: var(--jk-gray-100);

  --color-primary: var(--jk-cyan-200);
  --color-primary-hover: var(--jk-blue-100);

  --color-accent: var(--jk-yellow-100);

  --color-success: var(--jk-green-300);
  --color-danger: var(--jk-red-100);
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
}

h1 {
  color: var(--jk-cream-100)
}

p {
  color: var(--jk-cream-100)
}

a {
  color: var(--jk-blue-100)
}

margin-box {
  margin: "40 40 40 auto"
}

.list-group-item {
  background-color: var(--color-surface);
  color: var(--color-surface);
  border-color: var(--color-surface);
}